.footer {
  font-size: 170%;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #558D8F;
  color: #FDFFFC;
}

.text-muted {
  color: #FDFFFC;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
  min-height: 100%;
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FDFFFC;
  color: #1B2347;
}

p, h1, h2, h3, h4, h5, h6 {
  color: #1B2347;
}

#leaguebuttons {
  margin-top: 30px;
}

.btn-danger {
  margin-top: 20px;
  background-color: #F42C04;
}

.btn:hover {
  background-color: #1B2347;
  color: #FDFFFC;
}

.btn-default {
  background-color: #558D8F;
}

.btn-primary {
  background-color: #235789;
}

.form-control, .checkbox {
  background-color: #FDFFFC;
}

.btn {
  border: none;

  color: #FDFFFC;
}

a:hover {
  color: #F42C04;
}

/*******************************CREATE GM/TEAM/LEAGUE FLOW*/

#first-choice .col {
  text-align: center;
  margin:auto;
}

.new-team {
  width: 30%;
  min-width: 200px;
}

/****************************JUMBO AND NAV*/

.jumbotron {
  font-family: 'Russo One', sans-serif;
  text-align: center;
  background-image: url("img/pucks-fade.png");
  background-size: cover;
  height: 250px;
  margin: 0;
}

.jumbotron h1 {
  color: #FDFFFC;
  font-size: 5em;
}

.nav {
  font-size: 1.2em;
  letter-spacing: 1.5px;
  margin: 0 auto;
  border-top: 2px solid black;
  width: 100vw;
  background-color: #558D8F;
  color: #FDFFFC;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  margin-top: -50px;
}

a  {
  color: #235789;
}

#welcome {
  float: right;
  font-size: 17px;
}

#draft {
  margin-bottom: 15px;
}

tr:nth-child(odd) {
  background: #ccc;
}

.table-striped>tbody>tr:nth-of-type(even) {
  background: #E0E0E0;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background: transparent;
}

.list-group-item {
  background-color: #FDFFFC;
  color: #558D8F;
}

.list-group a {
  color: #235789;
}

.list-group a:hover {
  color: #F42C04;
}

.nav a {
  color: #FDFFFC;
}
/******************************DRAFT PAGE*/
radio.hidden {
  display: none;
}

#currentTeam h1 {
  font-weight: bold;
  color: #F42C04;
}

#currentPick {
  text-align: center;
}

.center {
  text-align: center;
}

#pick {
  border-right: 2px solid #333;
}

hr.break {
  border-top: 2px solid #333;
}
