gm.vtl

<h1>$gm.getName()</h1>
<hr>

#if ($gm.allTeams().size() > 0)
<h3>Your Teams</h3>
<ul>

  #foreach($team in $gmsTeams)
    <li>$team.getLeague().getName()</li>
    <ul>
      <li><a href="/team/$team.getId()">$team.getName()</a>
        #if ($team.getLeague().draftNotStarted())
          <a href="/draft/$team.getLeague().getId()" class="btn btn-sm btn-danger">Start Draft</a>
        #end
      </li>
    </ul>
  #end

</ul>
#end
