<!DOCTYPE html>
<html>
  <head>
    <title>NWHL Fantasy Hockey</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <script src="/jquery-1.12.0.js"></script>
    <script src="/scripts.js"></script>
  </head>
  <body>
    <div class='container'>
      <div class="jumbotron">
        <h1>NWHL Fantasy Hockey</h1>

        <a href="/home"><button class="btn btn-primary" type="button" name="home">GM Home</button></a>
        
        <a href="/"><button class="btn btn-primary" type="button" name="authors">Change General Manager</button></a>
      </div>
      #parse( $template )

    </div>
  </body>
</html>
