<!DOCTYPE html>
<html>
  <head>
    <title>NWHL Fantasy Hockey</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
    <script src="/jquery-1.12.0.js"></script>
    <script src="/scripts.js"></script>
  </head>
  <body>
      <div class="jumbotron">
        <div class='container'>
          <h1>NWHL Fantasy Hockey</h1>

        </div>
      </div>
      <div class="nav">
        <a href="/search">Find</a>
        #if ($gm)
        <a class="home" href="/home">Home</a>
        #end
        <a href="/">Logout/Login</a>
        <a href="/about">About</a>
      </div>
      <div id="body-container" class="container">
        #if ($gm)
        <h2 id="welcome">Welcome $gm.getName()</h2>
        #end

        #parse( $template )


      </div>
      <footer class="footer">
        <div class='container'>

          <h3 class="text-muted">Copyright 2016 Bad-T</h3>
          <p class="text-muted small">Brad London, Tyler Suderman, Abigail Rolling, and Daren Schaad</p>
        </div>
      </footer>
  </body>
</html>
